textarea:focus,
.accordion-button:focus,
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none !important;
}
aside {
    height: auto;
}

.accordion {
    height: 500px;
}

.accordion::-webkit-scrollbar {
    width: 4px;
    border-left: 1px solid #e6ecf8;
}
.accordion::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.user-info p {
    font-size: 12px;
    color: gray;
}
.item .img-fluid {
    object-fit: cover;
    height: 170px;
    width: 240px;
}
.item {
    margin-bottom: 20px;
}
#side-menu button {
    border: none;
    background: none;
    opacity: 0.5;
    transition: 0.3s;
}
#side-menu button:hover {
    opacity: 1;
}
#side-menu button.active {
    opacity: 1;
}
